body{
    font-family: "Flexo-Demi",arial,sans-serif;
    background: #fff url(../img/background.png);
}


.navbar a{
    color: #fff!important;
    padding-left: 10px;
}

img.img-thumbnail {
    width: 80%;
    height: 80%;
}

.row{
    padding-top: 30px;
}